{% include "header.html" %}


  <!-- Page Header -->
  <header class="page-header" style="background-image: url('https://images.ctfassets.net/hrltx12pl8hq/7JnR6tVVwDyUM8Cbci3GtJ/bf74366cff2ba271471725d0b0ef418c/shutterstock_376532611-og.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading text-center">
            <h1 class="page-header-heading mb-3"> Blavg the Blog</h1>
            <span class="subheading">*cricket noises*</span>
          </div>
        </div>
      </div>
    </div>
  </header>

    <!-- Main Content -->

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="clearfix">
          {% if current_user.admin_level > 1 %}
          <a class="btn btn-primary float-start create-post-btn" href="{{url_for('add_new_post')}}">Create New Post</a>
          {% endif %}
        </div>

        {% for post in posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}" class="post-preview-link">
            <h2 class="post-preview-title">
              {{post.title}}
            </h2>
            <h3 class="post-preview-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-preview-author-and-date">Posted by
            <a href="#">{{post.author.username}}</a>
            on {{post.date}}
          </p>
        </div>
        {% endfor %}
        <div class="clearfix">
          {% if current_user.admin_level > 1 %}
          <a class="btn btn-primary float-start create-post-btn" href="{{url_for('add_new_post')}}">Create New Post</a>
          {% endif %}
        </div>

      </div>
    </div>
  </div>


{% include "footer.html" %}