{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

  <!-- Page Header -->
{% if sentence %}
<header class="page-header" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('https://cdn.pixabay.com/photo/2016/11/30/12/16/question-mark-1872665_960_720.jpg')">
{% else %}
<header class="page-header" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('https://cdn.pixabay.com/photo/2016/04/30/13/12/sutterlin-1362879_960_720.jpg')">
{% endif %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading text-center" >
            <h1 class="post-title mb-3"style="color:white">
                {% if sentence %}
                    We found your answer in: <br><br>
                {% endif %}
                {{post.title}} </h1>
            <h2 class="post-subtitle" style="color:white"> {{post.subtitle}}  </h2>
              <span class="post-author-and-date" style="color:white">Posted by
              <a href="#">{{post.author.username}}</a>
              on {{post.date}}</span>
          </div>
        </div>
      </div>
    </div>
</header>
</header>

  <!-- Question  -->


    <div class="col-lg-8 col-md-10 mx-auto">
        {% if sentence %}
            <div class="row my-3 text-center">
                <h3>Your Question was: {{query}}</h3>
                <h3 class="answer">{{sentence|safe}}</h3><br><br><hr>
                <h4 class="float-middle"> Here's the full post: </h4><br><br>
            </div>
        {% endif %}
    </div>




  <!-- Post Content -->

        <div class="col-lg-8 col-md-10 mx-auto my-3">
            <p class="post-body">
            {{ post.body|safe }}
            </p>
            <hr>
            <div class="clearfix">
                {% if current_user.admin_level > 2 or current_user.id == post.author.id %}
                <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a>
                <a class="btn btn-danger float-right" href="{{url_for('delete_post', post_id=post.id)}}">Delete Post</a>
                {% endif %}
        </div>
      </div>

    <div class="row">
        {% if not sentence %}
        {% if current_user.is_authenticated %}
        <h3 class="text-center mb-3 mt-2"> Comment Section </h3>
        <div class=" col-lg-6 clog-md-8 mx-auto">
          {{ ckeditor.load() }}
          {{ ckeditor.config(name='comment') }}
          {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
        {% endif %}
        {% if post.comments %}
        <div class="col-lg-8 col-md-10 mx-auto mt-4">
              <ul class="comment-list">
                  {% for comment in post.comments %}
                  <li>
                    <div class="each-comment">
                      <p class="px-6">{{comment.comment|safe}}</p>
                        <i class="far fa-lg fa-user me-1"></i>
                      <span>Posted by <a href="#">{{comment.author.username}}</a></span>
                    </div>
                  </li>
                  <br>
                  {% endfor %}
              </ul>
            </div>
        {% endif %}
        {% endif %}
    </div>

{% if sentence %}
<script type="text/javascript" src="../static/question.js"></script>
{% endif %}

{% include "footer.html" %}