    /* Navbar */

.main-nav-untoggled{
  position: fixed;
  border-bottom:1px transparent;
  width:100%;
}

.main-nav-toggled{
   background: #00ffcc;
   position:relative;
}

.navbar-brand-toggled{
    margin-left:45%;
}

.navbar-brand {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 2.1rem;
    color:lightgray;
}

.nav-link {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color:lightgray;
}


    /* Page Header */


.page-header{
      width: 100%; //fallback
      width: 100vw;
      min-height: 60vh;
      max-height: 60%;
      overflow: hidden;
      background-size: cover;
      background-position: center;
    }

.page-header-heading{
  font-size:5rem;
  font-family:'Rubik Dirt', cursive;
}

.subheading{
  font-size:1.5rem;
}

.site-heading{
  margin-top:10%;
}


    /* Post Preview */


.post-preview{
  background-color:#e6e6e6;
  margin: 2% 0%;
  border-radius:10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.1);
}

.post-preview-link {
  text-decoration:none;
  color: #212530;
}

.post-preview-link:hover, .post-preview-link:focus{
  text-decoration: underline;
  color: #008699;
}

.post-preview-subtitle{
  font-size:1.5rem;
  font-weight:300;
}

.create-post-btn {
  margin: 2% 0%;
}

    /* Post Page */


.post-author-and-date {
  font-weight:500;
}

p{
  overflow-wrap: break-word;
}

    /* Question */

.highlighted {
    color: #880808;
    font-style: italic;
}

    /* Flashed messages */


.flashed_message{
  font-size:1.5rem;
  color:red;
  text-align:center;
}


    /* Forms */


.main-form{
  margin-top:1%;
}


    /* Footer */


footer{
    margin-top:3%;
}


