    /* Navbar */

.main-nav-untoggled{
  position: fixed;
  border-bottom:1px transparent;
  width:100%;
}

.main-nav-toggled{
   background: #00ffcc;
   position:relative;
}

.navbar-brand-toggled{
    margin-left:45%;
}

.navbar-brand {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 2.1rem;
    color:lightgray;
}

.nav-link {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color:lightgray;
}


    /* Page Header */

.page-header{
      width: 100%; //fallback
      width: 100vw;
      min-height: 60vh;
      max-height: 60%;
      overflow: hidden;
      background-size: cover;
      background-position: center;
    }

.page-header-heading{
  font-size:5rem;
  font-family:'Rubik Dirt', cursive;
}

.subheading{
  font-size:1.5rem;
}

.site-heading{
  margin-top:10%;
}


    /* Forms */


.main-form{
  margin-top:1%;
}


    /* Footer */


footer{
    margin-top:3%;
}


